.price {
    color: red;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
}

#bottom_page_padding {
    margin: 6rem 0;
}

.cart-del-btn {
    cursor: pointer;
}

#BannerCarousel {
    background: #287b42;
}

h3 {
    font-weight: bold;
}

.w-20 {
    width: 20%;
}

.w-90 {
    width: 90%;
}

.home-item {
    border: 1px solid black;
    padding: 0;
    min-width: 160px;
    height: 100%;
}

.horizontal-product-list {
    white-space: nowrap;
}

.add-cart, .checkout {
    background: #287b42;
}

.product-big-picture {
    border: 1px solid black;
}

.cart-input-quantity {
    max-width: 80px;
    min-width: 40px;
}

#CartListContainer > div {
    display: none;
    position: absolute;
    overflow: visible;
    z-index: 9999;
    border-radius: 5px;
}

#CartListContainer:hover > div {
    display: block;
}

/* alert to tell user they cannot access admin.php */
.permission-denied {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* ----- admin.php ----- */
.admin-nav {
    background: #d0d2df;
}

.admin-nav li:hover {
    background: #93949c;
}

fieldset {
    border: 1px #AAA solid;
}

.db-table th, .db-table td {
    padding: 0 1rem;
}

form input, form select, form textarea {
    display: block;
    width: 100%;
}

.drop_area {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    padding: 8rem 0;
    background-color: #c0dae1;
    cursor: pointer;
    transition: outline-offset .2s ease-in-out, background-color .2s linear
}

.drag-effect {
    outline-color: #c8dadf;
    background-color: white;
    outline-offset: -15px;
}

.drop_area .hidden-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.choose-file-button {
    border: 2px solid #92b0b3;
    background-color: #92b0b33f;
    border-radius: 3px;
    margin-right: 1rem;    
}